{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="navbar-toggle collapsed">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           
            <a class="navbar-brand" href="#"> Bootstrap theme </a>
       
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a>{{ current_user.username }}</a></li>
                <li><a href =" {{ url_for('logout') }}">
                    <span class="glyphicon glyphicon-log-out" title= "Logout" ></span></a></li>
                {% endif %}
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown-toggle"></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"> Action </a></li>
                        <li><a href="#"> Another action </a></li>
                        <li><a href="#"> Something else here </a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header"> Nav header </li>
                        <li><a href="#"> Separated link </a></li>
                        <li><a href="#"> One more separated link </a></li>
                   
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
 
{% endblock %}
{% block content %}
<div id="main" class="container theme-showcase" role="main">
    {% block main %}{% endblock %}
</div>
 
{% endblock %}
