
{% extends "base.html" %}
{% block main %}
<h1>{{ title }} </h>

<div class="container">
    <div class="row">
    {% for x in albums %}
	{% if x.img is not none %}
	    <div class="col-sm-3 col-xs-6 ">
	        <a href="#">
	            <img  class="img-responsive portfolio-item" src="{{ url_for('static', filename='images/'+x.img) }}"/>
	        </a>
	        <p class = "para">
	        {{ x.by }}
	        <br>
	        {{ x.id }}
	       	</p>
	    </div>
	{% endif %}
	{% endfor %}
    </div>
 </div>
{% endblock %}